$element-background: #ececec;
$element-text: #7a7a7a;

$text-inactive: #d4d4d4;

$text-link-highlight: #d0effd;

$dark-element-background: #1c1e21;
$dark-element-text: #eee;

$dark-background: #0f1214;
$dark-text: #eee;
$dark-text-mute: #adadad;
$dark-text-inactive: #4c4f51;

$dark-text-link-highlight: #0c4d6a;
