@import './size.scss';
@import './colors.scss';

.page-header {
  transition-duration: 0.23s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;

  z-index: 1000;

  .header-inner {
    height: 54px;
    display: flex;

    @media screen and (max-width: $mobile-width) {
      height: 46px;
    }

    max-width: $page-width;

    z-index: 1100;
  }

  &.fixed {
    z-index: 1500;
  }

  .header-background {
    position: absolute;
    height: 150px;
    width: 100%;

    pointer-events: none;
    z-index: 1000;

    top: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      hsl(0, 0%, 100%) 0%,
      hsla(0, 0%, 100%, 0.969) 13.5%,
      hsla(0, 0%, 100%, 0.921) 24.2%,
      hsla(0, 0%, 100%, 0.859) 32.5%,
      hsla(0, 0%, 100%, 0.785) 38.9%,
      hsla(0, 0%, 100%, 0.703) 43.7%,
      hsla(0, 0%, 100%, 0.615) 47.4%,
      hsla(0, 0%, 100%, 0.524) 50.5%,
      hsla(0, 0%, 100%, 0.432) 53.3%,
      hsla(0, 0%, 100%, 0.342) 56.2%,
      hsla(0, 0%, 100%, 0.257) 59.6%,
      hsla(0, 0%, 100%, 0.18) 64.1%,
      hsla(0, 0%, 100%, 0.113) 69.9%,
      hsla(0, 0%, 100%, 0.059) 77.6%,
      hsla(0, 0%, 100%, 0.02) 87.5%,
      hsla(0, 0%, 100%, 0) 100%
    );
  }

  .logo-zone,
  .control-zone {
    position: relative;
    display: flex;

    transition-duration: 0.23s;
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    & > * {
      margin: auto;
    }
  }

  &.show {
    opacity: 1;

    .logo-zone,
    .control-zone {
      opacity: 1;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
    }
  }

  &.hidden {
    pointer-events: none;
    opacity: 0;

    .logo-zone,
    .control-zone {
      opacity: 0;
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
    }
  }

  .links-zone {
    display: flex;

    & > .link {
      margin: auto;
    }

    .link {
      position: relative;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: -0.33px;
      text-decoration: none;
      cursor: pointer;

      @media screen and(max-width: $mobile-width) {
        font-size: 4.5vmin;
      }

      &:first-child {
        margin-left: 10px;
      }

      &:hover {
        opacity: 0.8;
      }

      color: $text-inactive;

      &[data-active='true'] {
        color: #000;
        cursor: default;

        &:hover {
          opacity: 1;
        }

        &::before {
          content: ' ';
          position: absolute;
          width: 130%;
          height: 70%;
          top: 30%;
          left: -15%;
          z-index: -1;
          background: $text-link-highlight;
        }
      }
    }

    .link + .link {
      margin-left: 32px;
    }
  }

  .logo-zone {
    transition-delay: 50ms;

    &[data-clickable='true'] {
      cursor: pointer;
    }
  }

  .control-zone {
    margin-left: auto;
    transition-delay: 100ms;

    @media screen and (max-width: $tablet-width) {
      .search-box {
        width: unset;

        .text {
          display: none;
        }
      }
    }

    & > * {
      margin-right: 16px;

      &:last-child {
        margin-right: unset;
      }
    }
  }

  &.fixed {
    position: fixed;
    // max-width: $page-width;
    left: 0;
    top: 0;
    width: 100%;

    .header-inner {
      position: relative;
      top: 16px;
      margin: auto;

      width: 96%;

      @media screen and (max-width: $tablet-width) {
        top: 12px;
        width: 90%;
      }
    }
  }
}

html[data-theme='night'] {
  .header-background {
    background: linear-gradient(
      to bottom,
      hsl(204, 14.29%, 6.86%) 0%,
      hsla(204, 14.29%, 6.86%, 0.984) 13%,
      hsla(204, 14.29%, 6.86%, 0.946) 24%,
      hsla(204, 14.29%, 6.86%, 0.89) 33.3%,
      hsla(204, 14.29%, 6.86%, 0.819) 41.2%,
      hsla(204, 14.29%, 6.86%, 0.736) 47.9%,
      hsla(204, 14.29%, 6.86%, 0.645) 53.6%,
      hsla(204, 14.29%, 6.86%, 0.549) 58.6%,
      hsla(204, 14.29%, 6.86%, 0.451) 63.1%,
      hsla(204, 14.29%, 6.86%, 0.355) 67.2%,
      hsla(204, 14.29%, 6.86%, 0.264) 71.4%,
      hsla(204, 14.29%, 6.86%, 0.181) 75.8%,
      hsla(204, 14.29%, 6.86%, 0.11) 80.6%,
      hsla(204, 14.29%, 6.86%, 0.054) 86.1%,
      hsla(204, 14.29%, 6.86%, 0.016) 92.5%,
      hsla(204, 14.29%, 6.86%, 0) 100%
    );
  }

  .links-zone {
    .link {
      color: $dark-text-inactive;

      &[data-active='true'] {
        color: #fff;

        &::before {
          background: $dark-text-link-highlight;
        }
      }
    }
  }
}
