.night-icon {
  display: flex;
  cursor: pointer;
  width: 24px;
  height: 24px;

  .icon {
    display: flex;
    width: 24px;
    height: 24px;

    & > svg {
      margin: auto;
      width: 18px;
      height: 18px;
    }
  }
}
