@import './size.scss';
@import './colors.scss';

.post-error {
  line-height: 100%;
  text-align: center;
  letter-spacing: -1px;
  font-family: 'Inter', 'Noto Sans CJK KR', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  .icon {
    font-size: 64px;
  }

  .mute {
    opacity: 0.4;
  }

  display: block;
}

.post-view-component {
  letter-spacing: -0.2px;
  line-height: 166%;
  margin-bottom: 2vh;

  h1,
  h2,
  h3 {
    margin-top: 2em;
  }

  p {
    overflow: auto;
  }

  span[data-bold] {
    font-weight: bold;
  }

  span[data-italic] {
    font-style: italic;
  }

  span[data-strikethrough] {
    text-decoration: line-through;
  }

  span[data-underline] {
    text-decoration: underline;
  }

  span[data-code] {
    background: #000;
    color: #fff;
    display: inline-block;
    font-size: 14px;
  }

  [data-color='gray'] {
    color: grey;
  }

  [data-color='brown'] {
    color: brown;
  }

  [data-color='orange'] {
    color: orange;
  }

  [data-color='yellow'] {
    color: yellow;
  }

  [data-color='green'] {
    color: green;
  }

  [data-color='blue'] {
    color: blue;
  }

  [data-color='purple'] {
    color: purple;
  }

  [data-color='pink'] {
    color: pink;
  }

  [data-color='red'] {
    color: red;
  }


  [data-color='gray_background'] {
    background: grey;
  }

  [data-color='brown_background'] {
    background: brown;
  }

  [data-color='orange_background'] {
    background: orange;
  }

  [data-color='yellow_background'] {
    background: yellow;
  }

  [data-color='green_background'] {
    background: green;
  }

  [data-color='blue_background'] {
    background: blue;
  }

  [data-color='purple_background'] {
    background: purple;
  }

  [data-color='pink_background'] {
    background: pink;
  }

  [data-color='red_background'] {
    background: red;
  }

  @media screen and (max-width: $mobile-width) {
    h1 {
      font-size: 6.5vmin;
    }
    h2 {
      font-size: 5.5vmin;
    }

    h3 {
      font-size: 3.5vmin;
    }

    p {
      font-size: 16px;
    }
  }

  .unsupported {
    padding: 10px 16px;
    background: #f0ebe5;
    border-radius: 16px;
  }

  .bullted-list-item {
    list-style-type: circle;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .numbered-list-item {
    margin-bottom: 4px;
    margin-left: 8px;
  }

  .post-image,
  .post-video {
    max-width: 100%;
    position: relative;

    img,
    video {
      width: 100%;
      position: relative;
    }
  }

  .post-youtube-video {
    width: 100%;
    position: relative;

    aspect-ratio: 16 / 9;

    iframe {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  .toggle {
    & > input {
      visibility: hidden;
      opacity: 0;
    }

    & > label::before {
      content: '> ';
    }

    & > input:checked + label::before {
      content: '- ';
    }

    & > input:checked ~ .toggle-contents {
      display: block;
    }

    .toggle-contents {
      display: none;
    }
  }

  .index {
    display: inline-block;
    width: 15px;
    margin-right: 10px;
  }
}

.post-comments {
  position: relative;
  width: 100%;
  margin-bottom: 6vh;
}

html[data-theme='night'] {
  span[data-code] {
    background: #000;
    color: #fff;
  }

  .unsupported {
    background: $dark-element-background;
  }
}
