@import './size.scss';

.spacer-container {
  &[data-template='about-header'] {
    display: flex;

    & > * {
      margin: 80px auto;

      @media screen and (max-width: $mobile-width) {
        margin-top: 8vh;
        margin-bottom: 4vh;
      }
    }
  }

  &[data-template='about-projects'] {
    & > * {
      margin: 64px 32px;

      @media screen and (max-width: $tablet-width) {
        margin: 32px 8px;
      }
    }
  }

  &[data-template='long-biography'] {
    display: flex;

    & > * {
      margin: 8vh auto;

      @media screen and (max-width: $mobile-width) {
        margin: 4vh auto;
      }
    }
  }

  &[data-template='about-section'] {
    & > * {
      margin: 2vh auto;

      @media screen and (max-width: $mobile-width) {
        margin: 12px auto;
      }
    }
  }

  &[data-template='about-me'] {
    & > * {
      margin: 8vh auto;

      @media screen and (max-width: $mobile-width) {
        margin: 12vh auto 8vh auto;
      }
    }
  }

  &[data-template='blog-biography'] {
    & > * {
      margin-top: 14vh;
      margin-bottom: 60px;

      @media screen and (max-width: $mobile-width) {
        margin-top: 12vh;
        margin-bottom: 6vh;
      }
    }
  }

  & > * {
    margin: var(--h, auto) var(--w, auto);
  }

  &[data-flex] {
    display: flex;
  }

  &[data-height='true'] {
    & > * {
      margin: var(--ht, auto) var(--w, auto) var(--hb, auto) var(--w, auto);
    }
  }
}
